.login-page{
    width: 100px;
    padding: 100px;
    margin: auto;
}
.login-page.form.login{
    margin-top: -31px;
    margin-bottom: 26px;
}
.form{
    position: relative;
    z-index: 1;
    background: firebrick;
    max-width: 360px;
    margin: 0 auto 100px;
}